# Dependency directory
node_modules/

# Documentation directory
# docs/

# Source directory
# src/

# Build directory
dist/
dist-examples/
coverage/

# Sourcemap, log, packed files
*.map
*.log
*.tgz

# Ignore files
# .gitignore
# .npmignore

# Build configuration files
# tsconfig.json
# webpack.config.js
# webpack.dev.config.js
# .travis.yml

# MkDocs files
# mkdocs.yml
site
