# Dependency directory
node_modules/

# Documentation directory
docs/

# Source directory
# src/
examples/

# Build directory
dist/bundle/
dist/tests/
dist/mocha/
dist-examples/
coverage/

# Sourcemap, log, packed files
# *.map
*.log
*.tgz

# Ignore files
.gitignore
.npmignore

# Build configuration files
tsconfig.json
webpack.config.js
webpack.dev.config.js
.travis.yml
nodemon.json

# Editor configuration files
.github/
.vscode/
.prettierrc

# MkDocs files
mkdocs.yml
site
